body {
    font-family: 'Montserrat', sans-serif;

}

.navbar {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar-default .navbar-nav>li>a {
    color: #000;

}

.navbar-brand {
    font-size: 18px;
}

.dropdown-menu {
    font-size: 14px;
}

.carousel {
    height: 350px;
    /* background-color: #707070; */
    color: white;

}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding: 10px 5px 0 5px;
}

.carousel h1 {
    font-family: 'Lora';
}

.carousel p {
    font-weight: 200;
}

.informasi {
    color: #ffffff;
    text-align: justify;
    font-size: 14px;

}

.about a {
    text-decoration: none;
}

.about h5 {
    font-size: 20px;
}

hr {
    background-color: #ffffff;
}

.logo-footer {
    width: 100px;
}

.fa-facebook {
    font-size: 30px;
}

.fa-whatsapp {
    font-size: 30px;
}

.fa-instagram {
    font-size: 30px;
}

.fa-twitter {
    font-size: 30px;
}

.copyright {
    font-size: 14px;
    font-weight: 200;

}

/* login */
.bg-login {
    background-color: #007bff;
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 532px;
}

form.user .custom-checkbox.small label {
    line-height: 1.5rem;
}

form.user .form-control-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

form.user .btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}

.form-pengajuan {
    margin-top: 80px;
    margin-bottom: 50px;
}